.loginClose, .registerClose{
    display: none;
}

.loginShow, .registerShow{
    padding: 10px 0;
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: 320px;
    height: 100vh;
    background: rgba(#000000, 0.8);
    color: #ffffff;
    form{
        width: 70%;
        margin: 0 auto;
    }
}

.form{
    display: none;
}
.showForm{
    display: flex;

}