.close{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    width: 30px;
    height: 30px;
    background: #ffffff;
    .lineleft, .lineright{
        position: absolute;
        top: 15px;
        left: 5px;
        background: #13E5D9;
        width: 20px;
        height: 1px;
    }
    .lineleft{
        transform: rotate(45deg);
    }
    .lineright{
        transform: rotate(-45deg);
    }
}